@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Handlee-Regular";
    src: url('../fonts/Handlee-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "KaushanScript-Regular";
    src: url('../fonts/KaushanScript-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}
body{
    background: linear-gradient(to bottom, #fdc830, #f37335);
}
.bar{
    -webkit-app-region: drag;
}
.tarjeta{
    transform-style: preserve-3d;
    cursor: pointer;
    animation: iniciar 3s;
}

/* .area-tarjeta:hover .tarjeta{
    transform: rotateY(180deg);
    
} */
.cara{
    backface-visibility: hidden;
}

.front{
    transform: rotateY(180deg);
}

@keyframes iniciar{
    20%, 90%{
        transform: rotateY(180deg);
    }
    0%, 100%{
        transform: rotateY(0deg);
    }
}